#banner {
height: 105px;
background-color: aqua;
display: inline-block;
width: 99%;
}
#banner span {
    position: relative;
    top:30px;
    left: 20px;
    margin: 0;
    font-size: 2em;
}

.lr {

    float: right;
    margin: 0;
    font-size: 1.5em;
    position: relative;
    top:30px;
}
#pfp {
    position: relative;
    top:5px;
    left: 5px;
    border: 2px solid black;
    float: left;   
}
#nick{
    position: relative;
    left:25px;
    top:30px;
    display: inline-block;
}

#head {
    display: block !important;
}
img {
    background-color: gray;
}

.follow1,.follow2 {
    padding-left: 0.3rem;
    border:2px solid var(--fg);
    display:inline-block;
    text-decoration: none !important;
}

.follow2 {
    background-color: #83a598;
    color: #f9f5d7 !important;
}
.follow3 {
    display: inline-block;
    padding: 0 20px;
    background-color: var(--bg);
    border-left: 2px solid var(--fg);
}

.lr a {
    text-decoration: none !important;
}