#banner {
height: 105px;
background-color: aqua;
display: inline-block;
width: 99%;
}
#banner span {
    position: relative;
    top:30px;
    left: 20px;
    margin: 0;
    font-size: 2em;
}

.lr {
    position: relative;
    top:-65px;
    float: right;
    margin: 0;
    font-size: 1.5em;
}
#pfp {
    position: relative;
    top:5px;
    left: 5px;
    border: 2px solid black;
    float: left;   
}
#banner h1{
    position: relative;
    left:15px;
    top:25%;
}

#head {
    display: block !important;
}