/*pouzivam gruvbox*/
* {
    --body-bg: #282828;
    --fg: #fbf1c7;
    --head-bg: #504945;
    --bg: #3c3836;
    --light-red:#fb4934;
    --red:#cc241d;
    --aqua:#8ec87c; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}
body{
    color:var(--fg)  !important;
    background-color: var(--body-bg);
    margin: 0;
}
main {
    width: 40%;
    margin:auto;
    background-color: var(--bg);
    padding: 10px;
    min-height: 100vh;
}

a {
color: var(--fg) !important;
}

main h1 {
    margin-top: 0;
}

#head {
    float: left;
    width: 29%;
    margin: 0;
    background-color: var(--body-bg);
}
#head h2 {

    margin:0;
    padding: 10px 0;
}
#head h2:hover {
    background-color: var(--head-bg);
}
.post_img {
    max-width: 250px;
    border: 2px solid var(--fg);
}

.like {
    text-decoration: none;
}
.like:hover {
    color: var(--light-red) !important;
}

.liked {
    color:var(--red) !important;
}

@media only screen and (max-width: 900px) {
    main {
        width: 98%;
        margin: 0 !important;
    }
    #head {
        width: 100%;
        display: block;
    }
}

#repost {
    width:2em !important;
    position: relative;
}
#repost * {
    stroke: var(--fg) !important;
}
#repost #path496,#repost #path496-6 {
    fill: var(--fg) !important;
}

.green #repost * {
    stroke: var(--aqua) !important;
}
.green #repost #path496,.green #repost #path496-6 {
    fill: var(--aqua) !important;
}

#repost:hover * {
    stroke: var(--light-red) !important;
}
#repost:hover #path496,#repost:hover #path496-6 {
    fill: var(--light-red) !important;
}

.buttons {
    display: flex;
    justify-content: space-around !important;
}
.buttons .b .up {
    position: relative;
    top: -12px;
    left: 10px;
}