/*pouzivam gruvbox*/
* {
    --body-bg: #282828;
    --fg: #fbf1c7;
    --head-bg: #504945;
    --bg: #3c3836;
    --light-red:#fb4934;
    --red:#cc241d;
    --aqua:#8ec87c;
    --textarea: #7c6f64;
    --border: #928374;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color:var(--fg)  !important;
    background-color: var(--body-bg);
    margin: 0;
}
main {
    width: 40%;
    margin:auto;
    background-color: var(--bg);
    padding: 10px;
    min-height: 100vh;
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
}

a {
color: var(--fg) !important;
}

main h1 {
    margin-top: 0;
}

#head {
    float: left;
    width: 28%;
    margin: 0;
    background-color: var(--body-bg);
}
#head a {
    text-decoration: none;
}

#head h2 {
    margin:0;
    padding: 10px 0;
}
#head h2:hover {
    background-color: var(--head-bg);
}
.post_img {
    max-width: 250px;
    border: 2px solid var(--fg);
}

.like {
    text-decoration: none;
}
.like:hover {
    color: var(--light-red) !important;
}

.liked {
    color:var(--red) !important;
}

@media only screen and (max-width: 900px) {
    main {
        width: 95%;
        margin: 0 !important;
        border-right: none;
        border-left: none;
    }
    #head {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    body {
        background-color: var(--bg);
    }
}

#repost {
    width:2em !important;
    position: relative;
}
#repost * {
    stroke: var(--fg) !important;
}
#repost #path496,#repost #path496-6 {
    fill: var(--fg) !important;
}

.green #repost * {
    stroke: var(--aqua) !important;
}
.green #repost #path496,.green #repost #path496-6 {
    fill: var(--aqua) !important;
}

#repost:hover * {
    stroke: var(--light-red) !important;
}
#repost:hover #path496,#repost:hover #path496-6 {
    fill: var(--light-red) !important;
}

.buttons {
    display: flex;
    justify-content: space-around !important;
}
.buttons .b .up {
    position: relative;
    top: -12px;
    left: 10px;
}

#pager {
    display: flex;
    justify-content: space-around;
}

textarea,input[type=text],input[type=password],select,input[type=date] {
    background-color: var(--textarea);
    color: var(--fg);
    font-size:1.05rem;
    font-weight: bold;
    border: 2px solid var(--fg);
}

button,input[type=submit],input[type=file]::file-selector-button {
    margin: 10px 0;
    padding: 2px 5px;
    background-color: var(--textarea);
    font-weight: bold;
    color: var(--fg);
    border: 2px solid var(--fg);
}

input[type=file]::file-selector-button {
    margin-right: 5px;
}

button:hover,input[type=submit]:hover,input[type=file]::file-selector-button:hover {
    background-color: var(--fg);
    color: var(--textarea);
}
#comment {
    width: 2em !important;
}
#comment *{
    stroke: var(--fg) !important;
}
#comment:hover *{
    stroke: var(--light-red) !important;
}

.error {
    border: 3px solid var(--red);
    color: white;
    display: inline-block;
    padding: 10px;
    background-color: var(--light-red);
}

.noMargin {
    margin: 0 !important;
}

.tweetLink1 {
    position: relative;
    top:-20px;
    font-size: 1.2rem;
}

.postText {
    margin-left:63px;
    font-size: 1.1rem;
    margin-top:0;
}

.tweetLink2 {
    display: inline-block;
    min-height: 50px;
    min-width: 50px;
}
.tweetLink2 img {
    border: 2px solid var(--fg);
}

 hr.delim {
    color: var(--border);
    position: relative;
    left:-10px;
    width: calc( 100% + 19px );

}
